{% extends "/layout.html.twig" %}

{% block title %} Login {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/login-bg.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label class="form-control-label required" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label required" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}