{% extends "/layout.html.twig" %}

{% block title %} Home {% endblock %}

{% block header %}

    <header class="masthead">
        <div class="slider single-item">
            {% for post in posts %}
                <div class="slider-item" style="
                        background: url('{% if post.imagesName %}/img/post/{{ post.imagesName }}{% else %}/img/default-news.jpg{% endif %}');
                        background-size: cover;
                        background-position: 50% 50%">
                    <h1>{{ post.title }}</h1>
                </div>
            {% endfor %}
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for categorie in pagination %}
                    <h3><a href="{{ path('category_show', {id: categorie['category_id']}) }}">{{ categorie['name'] }}</a></h3>
                    {% for post in  categorie.post%}
                        <a href="{{ path('post_page', {id: post.post_id}) }}">
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> {{ post.title}}
                        </a><br>
                    {% endfor %}
                    <hr>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}