{% extends "/admin_layout.html.twig" %}

{% block title %} Edit post {{ post.id }}  {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('{% if post.imagesName %}/img/post/{{ post.imagesName }}{% else %}/img/default-news.jpg{% endif %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h1>Edit post {{ post.id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2>{{ post.title }}</h2>

                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}