{% extends "/admin_layout.html.twig" %}

{% block title %} Post {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Posts</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>CreatedAt</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.content[:50] }} ...</td>
                                <td>{{ post.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('admin_post_edit', {id: post.id}) }}"><i class="fa fa-edit icon icon-table"></i></a>
                                    <a href="{{ path('admin_post_delete', {id: post.id}) }}"><i class="fa fa-trash icon icon-table"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}