#admin {
  header.masthead {
    height: 250px;
    position: relative;

    .site-heading {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      padding: 0;
    }
  }

  ul.sidebar-nav {
    list-style-type: none;
  }

  .table-responsive {
    font-size: 12px;
  }

  .form-check {
    width: 50%;
    display: inline-block;
  }
}