@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";
@import "pattern";
@import "admin";

.pagination {
  span {
    margin-right: 10px;
  }

  .current {
    color: #007bff;
  }
}

nav#mainNav {
  background-color: rgba(0, 0, 0, 0.7);
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
}

.panel-white .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.panel-white .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.panel.panel-white.post.panel-shadow {
  margin-bottom: 20px;
}

.post .post-heading {
  display: flex;
  height: 95px;
  padding: 20px 15px;
}

.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-heading .meta .title a {
  color: black;
}

.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}

.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;
}

.post .post-description p {
  font-size: 14px;
}

.post .post-description .stats {
  margin-top: 20px;
}

.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.post .post-footer .input-group-addon a {
  color: #454545;
}

.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}

.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.icon-table {
  color: #007bff;
  font-size: 18px;
}
.nav-item {
  position: relative;
}

.dropdown-submenu{
  position: relative;
}
.dropdown-submenu > .dropdown-menu
{
  top: 0;
  left: 100%;
  margin-top: -13px;
  margin-left: 5px;
}
.dropdown-submenu:hover > .dropdown-menu{
  display:block;
}

.dropdown-submenu > a:after{
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after{
  border-left-color: #ffffff;
}

.dropdown-submenu .pull-left{
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.root:hover > .dropdown-menu{
  display: block;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 10px 20px;
}

.dropdown-menu {
  background: transparent;
  border: none;

  a {
    font-size: 12px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
  }
}

.slider,
.slider .slider-item {
  height: 500px;
}

.slick-initialized .slick-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 0 25px;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
}

.slider-item {
  width: 300px;
}

.ad-unit {
  width: 100%;
  height: 300px;
  background: #1c7430;
  margin-bottom: 15px;
}