{% extends "/layout.html.twig" %}

{% block title %} Register {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/login-bg.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
        </div>
    </div>
{% endblock %}