{% extends "/admin_layout.html.twig" %}

{% block title %} Comments {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Comments</h3>

                {% if countCommentsForConfirmation != 0 %}
                    <h6 class="text-danger">You have {{ countCommentsForConfirmation }} unconfirmed comments</h6>
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Comment</th>
                            <th>Author</th>
                            <th>Post ID</th>
                            <th>CreatedAt</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr class="
                                {% for commentsForConfirmation in commentsForConfirmation %}
                                    {% if commentsForConfirmation.id == comment.id %}
                                        table-danger
                                    {% endif %}
                                {% endfor %}
                            ">
                                <td>{{ comment.comment[:50] }} ...</td>
                                <td>{{ comment.author }}</td>
                                <td><a href="{{ path('post_page', {id:  comment.post.id}) }}">{{ comment.post.id }}</a></td>
                                <td>{{ comment.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('admin_comment_edit', {id: comment.id}) }}"><i class="fa fa-edit icon icon-table"></i></a>
                                    <a href="{{ path('admin_comment_delete', {id: comment.id}) }}"><i class="fa fa-trash icon icon-table"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}