{% extends "/admin_layout.html.twig" %}

{% block title %} Edit category {{ category.id }}  {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('/img/categories-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h1>Edit category {{ category.id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2>{{ category.name }}</h2>

                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}