{% extends "/admin_layout.html.twig" %}

{% block title %} Category {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Category</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a href="{{ path('admin_category_edit', {id: category.id}) }}"><i class="fa fa-edit icon icon-table"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}