{% extends "/layout.html.twig" %}

{% block title %} Contact {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form_start(feedback_form) }}
                    {{ form_row(feedback_form.email) }}
                    {{ form_row(feedback_form.message) }}
                {{ form_end(feedback_form) }}
            </div>
        </div>
    </div>

{% endblock %}