<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/png">
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    {% block additionallyStylesheets %}{% endblock %}
</head>
<body id="admin">
{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ path('admin_posts_list') }}">Admin</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('posts_list') }}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('feedback') }}">Feedback</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Logout ({{ app.user.email }})</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block header %}
    <header class="masthead" style="background-image: url('../img/admin-tools.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Admin</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Admin menu</h3>
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_posts_list') }}">Posts list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_posts_add') }}">Created post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_list') }}">Category list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_categories_add') }}">Created category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_tag_list') }}">Tag list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_tag_add') }}">Created tag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_advertising_add') }}">Created advertising</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_comment_list') }}">Comment list</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">

            {% block flash %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            {% for flash in app.session.getFlashBag().get('success') %}
                                <div class="alert alert-success">
                                    {{ flash }}
                                </div>
                            {% endfor %}

                            {% for flash in app.session.getFlashBag().get('fail') %}
                                <div class="alert alert-danger">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Marinov &copy; 2018</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('build/js/bootstrapThemesJs/clean-blog.js') }}"></script>
    <script src="{{ asset('build/js/bootstrapThemesJs/contact_me.js') }}"></script>
    <script src="{{ asset('build/js/bootstrapThemesJs/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
{% block additionallyJavascripts %}{% endblock %}
</body>
</html>
