<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/png">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/slick/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    {% block additionallyStylesheets %}{% endblock %}
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">Marinov - blog</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('posts_list') }}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('feedback') }}">Feedback</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Logout ({{ app.user.email }})</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">Register</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_posts_list') }}">Admin</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Level 1</a></li>
                            <li class="dropdown-submenu"><a tabindex="-1" href="#">More options</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Level 2</a>
                                    </li>
                                    <li class="dropdown-submenu"><a href="#">More..</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Level 3</a>
                                            </li>
                                            <li><a href="#">Level 3</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Level 2</a>
                                    </li>
                                    <li><a href="#">Level 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block header %}{% endblock %}

{% block flash %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for flash in app.session.getFlashBag().get('success') %}
                    <div class="alert alert-success">
                        {{ flash }}
                    </div>
                {% endfor %}

                {% for flash in app.session.getFlashBag().get('fail') %}
                    <div class="alert alert-danger">
                        {{ flash }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{#<article class="sidebar">#}
    {#<div class="slider-item">#}
        {#<div class="ad-unit"></div>#}
        {#<div class="ad-unit"></div>#}
        {#<div class="ad-unit"></div>#}
    {#</div>#}

    {% block content %}{% endblock %}
    {#<div class="slider-item">#}
        {#<div class="ad-unit"></div>#}
        {#<div class="ad-unit"></div>#}
        {#<div class="ad-unit"></div>#}
    {#</div>#}

{#</article>#}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Marinov &copy; 2018</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/slick/slick.min.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
{% block additionallyJavascripts %}{% endblock %}
</body>
</html>
