{% extends "/layout.html.twig" %}

{% block title %} Post {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('{% if post.imagesName %}/img/post/{{ post.imagesName }}{% else %}/img/default-news.jpg{% endif %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Post {{ post.id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2>{{ post.title }}</h2>
                    {% if user %}
                        <i>{{ post.content }}</i>
                    {% else %}
                        <i>{{ post.content[:50] }} ...</i>
                    {% endif %}
                    <br>
                    <small>{{ post.createdAt|date('Y-m-d H:i:s') }}</small>
                    <hr>
                    <span>Category: </span>
                    <a href="{{ path('category_show', {id: post.category.id}) }}">{{ post.category.name }}</a>
                    <hr>
                    {% if pagination %}
                        <span>Tags: 
                            {% for tag in tags %}
                                <a href="{{ path('tag_show', {id: tag.id}) }}">{{ tag.name }}</a> |
                            {% endfor %}    
                        </span>
                        <hr>
                    {% endif %}
                    

                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                </div>
            </div>
            {% if pagination %}
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for comment in pagination %}
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                         alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <b>{{ comment.author }}</b>
                                    </div>
                                    <small class="text-muted time">{{ comment.createdAt|date('Y-m-d H:i:s') }}</small>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{ comment.comment }}</p>
                                <div class="stats">
                                    <a href="{{ path('post_like', {id: comment.id}) }}" class="like btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>
                                        {{ comment.thumbsUp }}
                                    </a>
                                    <a href="{{ path('post_dislike', {id: comment.id}) }}" class="dislike btn btn-default stat-item">
                                        <i class="fa fa-thumbs-down icon"></i>
                                        {{ comment.thumbsDown }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="views"></div>

{% endblock %}