{% extends "/layout.html.twig" %}

{% block title %} Tag {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Tag {{ tag.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in pagination %}
                    <h3><a href="{{ path('post_page', {id: post.id}) }}">{{ post.title }}</a></h3>
                    <i>{{ post.content }}</i>
                    <small>{{ post.createdAt|date('Y-m-d H:i:s') }}</small>
                    <hr>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}