{% extends "/layout.html.twig" %}

{% block title %} Feedback {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Feedback list</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for feedback in feedbacks %}
                    <h3>{{ feedback.email }}</h3>
                    <small> {{ feedback.createdAt|date('Y-m-d H:i:s') }}</small>
                    <i>{{ feedback.message }}</i>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}