{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends "layout.html.twig" %}

{% block title %} Error {% endblock %}

{% block header %}

    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>ERROR</h1>

                        <hr>
                        {{ status_code }} - {{ status_text }}
                        <hr>

                        <p>
                            The requested page couldn't be located. Checkout for any URL
                            misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
