{% extends "/admin_layout.html.twig" %}

{% block title %} Tag {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Tag</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tags %}
                            <tr>
                                <td>{{ tag.name }}</td>
                                <td>
                                    <a href="{{ path('admin_tag_edit', {id: tag.id}) }}"><i class="fa fa-edit icon icon-table"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}